* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
  background-image: url("../public/anime-eyes-illustration.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container {
  backdrop-filter: blur(20px);
  position: absolute;
  inset: 0;
  width: 50%;
}