*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
  background-image: url("../public/anime-eyes-illustration.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container {
  backdrop-filter: blur(20px);
  inset: 0;
  padding: 10%;
  position: absolute;
  text-align: center;
  width: 50%;
}


.btn-google {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  justify-content: center;

  & .google-log {
    width: 20px;
  }
}

.horizontal-line span {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.horizontal-line span::after,
.horizontal-line span::before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 3px;
  width: 100px;
}

.email form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email form input {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
  padding: 10px;
}

.email form input::placeholder {
  color: #fff;
}

.btn-google,
.btn-signup {
  background-color: #e394b4;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 16px;
  width: 100%;
  color: #fff;
}